.button {
    padding: 2vh 4vw;
    border: none;
    border-radius: 5vh;
    font-size: 2.5vw;
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    text-align: center;
}
